

<div class="row">
	<div class="span5">
	<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: "well"}) do |f| %>

		<fieldset>
			<legend>Sign In</legend>
		<%= f.input :email, input_html: { class: 'input-xlarge' } %>
		<%= f.input :password, input_html: { class: 'input-xlarge' } %>

	  <% if devise_mapping.rememberable? -%>
	    <div><%= f.input :remember_me, as: :boolean %></div>
	  <% end -%>

	  <div><%= f.button :submit, "Sign in", class: 'btn btn-primary' %><%= render "devise/shared/links" %></div>

	</fieldset>
	<% end %>

	
	</div>