<!DOCTYPE html>
<html>
<head>
  <title>PatTalk</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  
  <%= csrf_meta_tags %>
</head>
<body onload="startTime();">

	<div id="header">
		<%= render template: 'activities/_navbar' %>
	</div>

	<section id="sidebar">
		<%= render template: 'activities/_sidebar' %>
	</section>

	<div class="flash-ajax">
		<% flash.each do |type, message| %>
			<div class="alert <%= flash_class type %>">
				<button class="close" data-dismiss="alert">x</button>
				<%= message %>
			</div>
		<% end %>
	</div>

	<div id="container">

		
			<%= yield %>
		
	</div>

	<%= render template: 'layouts/_browse.html.erb' %>

</body>

<script id="activities-template" type="text/x-handlebars-template">
	<li class="divider"></li>
	<li><a href="{{activityFeedLink}}">All Activities</a></li>
	</ul>	
</script>

</html>





